* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    cursor: default;
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

#navigationBar {
    background-image: url("../images/weather/Clear.jpg");
    background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;
}
.introScreen {
    top: 0%;
    margin: 0;
    padding: 0;
    height: 91vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#intro {
    position: absolute;
    display: inline;
    font-family: monospace;
    top: 45%;
    overflow: hidden;
    font-size: 2em;
    white-space: nowrap;

    width: 0;
    animation: typing 2s steps(23, end) forwards,
                removeBorder 2s;

}
#title{
    position: absolute;
    top: 50%;
    font-family: "Bodoni MT";
    font-size: 2.7em;
    animation: hide 4s;
    color: #011823;
}

@keyframes typing {
    to {
        width:23ch;
    }
}
@keyframes removeBorder {
   0%, 50%, 99% {
       border-right: .15em black solid;
   }
    100% {
        border-right: None;
    }
}
@keyframes hide {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}