#socials {
    display: flex;
    gap: 2vw;
    font-family: monospace;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 79vh;
}
#socials a{
    position: sticky;
    top: 0;
}
#socials img{
    height: 3vw;
    background-color: transparent;
    object-fit: contain;
}
#socials img:hover{
    height: 3.9vw;
    animation: shake .90s;
}
@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-40deg);
    }
    75% {
        transform: rotate(40deg);
    }
}