<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="../static/lightWebsite.css">
</head>
<body>
<div class="background">
</div>
<nav>
  <a href="http://localhost:63342/HTML%20&%20CSS/Website/templates/templates.html?_ijt=d35p0dnn02n3deg3lj4u4b9u87&_ij_reload=RELOAD_ON_SAVE">Home</a>
  <div class="dropdown">
    <button>Games</button>
    <div class="options">
      <a href="">1</a>
      <a href="">2</a>
      <a href="">3</a>
    </div>
  </div>
  <a href="https://github.com/Shahdee-Zaman?tab=projects">GitHub</a>
  <a href="" download="Shahdee_Zaman_Resume.pdf">Resume</a>
  <a href="mailto:Shahdeezaman@gmail.com">Contact Me</a>

</nav>
<hr>
<br>


<div class="middle">Hello, Welcome to my Website!</div>
<p id ="intro"> Hi, I am Shahdee Zaman  a Computer Science graduate with a passion for software development,
  problem-solving, and technology innovation. Proficient in Python, C++, and Java,
  I have hands-on experience in developing scalable applications, optimizing algorithms, and implementing object-oriented programming principles.
  My expertise extends to full-stack development, software engineering, and cloud computing, with projects ranging from
  database management systems to algorithmic implementations.
  I am always eager to learn new technologies and contribute to meaningful, high-impact solutions.</p>

<span id="Socials">Find me at: <br>
    <a href="linkedin.com/in/shahdee-zaman-35455a276">LinkedIn</a> <br>
    <a href="mailto:Shahdeezaman@gmail.com">Email</a>
</span>

</body>