<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" href="../static/RockPaperScissorstyle.css">
</head>
<body>
<div>Welcome to Rock Paper Scissor </div>
<div class="Choices">
    <button class="Rock">
        <!--<img src="../img/r.jpg" class="Rock" alt=""> -->
    </button>
    <button>
        <img src="../static/img/p.jpg" class="Paper" alt="">
    </button>
    <button>
        <img src="../static/img/s.jpg" class="Scissor" alt="">
    </button>
</div>

</body>
</html>