<link rel="stylesheet" href="../static/css/about.css">
<div class="main">
    <div id="info">

                                            <!-- About Section -->
        <div id="about">
            <h1 class="opener" style="text-decoration: none">Shahdee Zaman</h1>
            <h3 style="font-family: 'Times New Roman'; color: wheat;">Software Engineer </h3>
            <span  class="status">●</span> <h3 style="display: inline; color: #FF0000" class="details">Actively Seeking</h3>
            <h4 class="details">A Computer Science graduate with a passion for software development, technology
                innovation, and building impactful solutions. I’ve worked on projects like database management systems,
                algorithmic solutions, and even a few fun mini-games. I enjoy working with Python, C++, Java, and I’m always
                excited to dive into full-stack development, and software engineering. Looking for new challenges
                and opportunities to collaborate on innovative projects. Feel free to connect!</h4>
        </div>

                                            <!-- Education Section -->
        <div id="education">
            <h1 class="opener">Education</h1>  <br>
            <h3 style="color:#fba9a9" class="details">Bachelor of Science in Computer Science</h3>
            <h4 class="details">Queens College|Graduated: Dec 2024</h4>
        </div>

                                            <!-- Tech Stack Section -->

        <div id="techstack">
            <h1 class="opener">Tech Stack</h1> <br>
            <ul id="stacks">
                <li class="details"><h3> Python: Flask, Pygame </h3></li>
                <li class="details"><h3> Java </h3></li>
                <li class="details"><h3> C++ </h3></li>
                <li class="details"><h3> Javascript </h3></li>
                <li class="details"><h3> SQL </h3></li>
                <li class="details"><h3> CSS </h3></li>
                <li class="details"><h3> HTML </h3></li>
            </ul>
        </div>

                                            <!-- Experience Section -->
        <div id="experience">
            <h1 class="opener">Experience</h1> <br>
            <h3 class="details">While I don't yet have direct work experience, I've built a strong foundation through my degree
                and personal projects. I am currently looking to break through for my first professional experience.</h3>
        </div>
    </div>

                                            <!-- Projects Section -->
    <div id="projects">
        <h1 class="opener">Project</h1>
        <div id="project1">
            <br>
            <h3 class="details">The Knightly Divide</h3> <br>
            <h4 class="details"> A platform game where you have to survive the arrows raining down on you. <br>
            There is no time limit holding you back. So survive as long as you can.</h4>
            <a href="https://github.com/Shahdee-Zaman/The-Knightly-Divide" target="_blank"><img src="../static/images/projects/knightly.png" alt="Screenshot of The Knightly Divide"></a>
        </div>
        <div id="project2">
            <br>
            <h3 class="details">Hangman</h3> <br>
            <h4 class="details">A difficult game of hangman with a broad category of words.
                <br>You get 6 wrong guesses before the hangman meets his doom.</h4>
            <a href="https://www.shahdee.dev/hangman"><img src="../static/images/projects/hangman.png" alt="Screenshot of Hangman"></a>
        </div>
    </div>
</div>
