<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shahdee Zaman</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
<div>
    <div id="navigationBar">
            {% include "navBar.html" %}
        <div class = "introScreen">
            <span id="intro"> Hi, I am Shahdee Zaman </span>
            <span id="title">Welcome To My Website</span>
            {% include "socials.html" %}
        </div>

    </div>

    <div id="information">
        {% include "about.html" %}
    </div>
</div>
</body>
</html>