<script src = "../static/js/navBar.js"></script>
<link rel="stylesheet" href="../static/css/navBar.css">
<div id = "container">
    <ul class="weathercall">
        <li><a id = "weatherIcon"></a></li>
    </ul>
    <ul class="top">
        <li> <a href=" {{ url_for('index') }} "> Home </a> </li>
        <li class = "drop">
            Project
            <ul class="navbar">
                <li class="navitems"><a>The Knightly Divide</a></li>
                <li class="navitems"><a>Calculator-GUI</a></li>
                <li class="navitems"><a>Hangman</a></li>
            </ul>
        </li>
        <li><a href="#information">About</a></li>
        <li><a>Resume</a></li>
    </ul>
</div>
