<link href="../static/css/socials.css" rel="stylesheet">
<div id="socials" style="">
    <a href="https://www.linkedin.com/in/shahdee-zaman-35455a276/" target="_blank"><img src="../static/images/icons/linkedin_social_icon.png" alt="linkedin"></a>
    <a href="https://github.com/Shahdee-Zaman" target="_blank"><img src="../static/images/icons/github_git_logo_social_icon.png" alt=""></a>
    <a href="mailto:Shahdeezaman@gmail.com" target="_blank"><img src="../static/images/icons/gmail_google_icon.png" alt=""></a>
</div>
